#!/bin/bash
sudo dnf update -y
sudo dnf install -y nginx
sudo sed -i 's/Welcome to nginx/Welcome to nginx - ${pattern}/g' /usr/share/nginx/html/index.html
sudo systemctl start nginx
sudo systemctl enable nginx
EOF